.no-files {
	width: 100%;
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	& > p {
		width: 100%;
		font-size: 1.2em;
		text-align: center;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
}

.filelist {
	width: 100%;
	padding-right: 10px;
	display: flex;
	align-items: center;
	flex: 1;
	flex-direction: column;
	overflow-x: auto;

	& .file {
		user-select: none;
		cursor: pointer;
		height: 70px;
		min-height: 70px;
		width: 100%;
		list-style: none;
		margin-bottom: 10px;
		border-radius: 3px;
		color: #fff;
		background: rgba(0, 0, 0, .25);
		border: 1px solid transparent;
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: .15s;
	}

	& .file:last-child {
		margin-bottom: 0;
	}

	& .file:hover {
		box-shadow: 0px 0px 20px 1px rgb(255 255 255 / 18%);
		border: 1px solid #fff;
	}

	& .file > a {
		height: 100%;
		width: 100%;
		color: #fff;
		border: none;
		display: flex;
	}

	& .file > a:hover {
		border: none;
	}

	& .icon-btn {
		cursor: pointer;
		height: 48px;
		width: 60px;
		font-size: 2em;
		margin-right: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	& .name {
		text-overflow: ellipsis;
		white-space: nowrap;
		display: flex;
		align-items: center;
		flex: 1;
		overflow: hidden;
	}

	& .size {
		font-size: .9em;
		font-style: italic;
		color: #3f88c5;
		margin-right: 15px;
		display: flex;
		align-items: center;
	}

	& .date {
		font-size: .9em;
		display: flex;
		align-items: center;
	}
}

.controls-page {
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: space-between;

	& > li {
		height: 28px;
		width: 28px;
		border-radius: 2px;
		color: #dadce0;
		background: #3f88c5;
		// border: 1px solid blue;
		transition: .15s;
	}

	& li:not(:last-child) {
		margin-right: 10px;
	}

	& > li:hover {
		background: rgba(0, 0, 0, 0.25);
	}

	& > li.reset.active {
		background: rgba(0, 0, 0, .25);
	}

	& > li.reset.next,
	& > li.reset.prev {
		width: 75px;
		padding: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	& > li > a {
		user-select: none;
		cursor: pointer;
		height: 100%;
		width: 100%;
		color: white;
		font-size: .85em;
		border: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	& > li > a:hover {
		border: 0;
	}
}

.filter {
    width: 100%;
	padding: 10px;
    margin-bottom: 30px;
    display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;

	& .wrapper {
		width: 375px;
		display: flex;
		flex-direction: column;

		& label {
			font-size: 0.85em;
			text-align: center;
			margin: 15px 0;
		}
	
		& input {
			color: #fff;
			background: rgba(0, 0, 0, .25);
			padding: 10px 15px;
			border: 1px solid transparent;
			border-radius: 3px;
		}
	}
}

@media (max-width: 800px) {
	.filter {
		padding: 0;
		margin-bottom: 15px;
	}
	.filter .wrapper {
		width: 100%;
	}
}