.App {
	height: 100%;
	width: 1280px;
	padding: 10px;
	color: #fff;
	overflow: auto;
	gap: 10px;
	display: flex;
	align-items: center;
	flex-direction: row;
	overflow: hidden;

	& aside {
		height: 100%;
		width: 350px;
		background: rgba(0, 0, 0, 0.3);
		backdrop-filter: blur(20px);
	}

	& .wrapper {
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.3);
		backdrop-filter: blur(20px);
		padding: 10px;
		display: flex;
		flex: 1;
		flex-direction: column;
	}

	& footer {
		box-shadow: unset;
		background: unset;
		display: flex;
		justify-content: center;
	}
}

@media (max-width: 1280px) {
	.App {
		width: 100%;
	}
}

@media (max-width: 800px) {
	.App {
		position: relative;
		width: 100%;
		flex-direction: column;

		& aside {
			position: absolute;
			top: 0;
			left: -100%;
			width: 100%;
			background: rgba(0, 0, 0, 0.9);
		}

		& .wrapper {
			padding: 0;
		}
	}
}
