.App {
	height: 100%;
	width: 1280px;
	padding: 10px;
	color: #fff;
	background: rgba(16 18 27 / 40%);
	backdrop-filter: blur(40px);
	overflow: auto;
	display: flex;
	align-items: center;
	flex-direction: row;
	overflow: hidden;

	& aside {
		height: 100%;
		width: 350px;
	}

    & .wrapper {
        height: 100%;
        width: 100%;
        padding: 2px 15px 2px 15px;
        display: flex;
        flex: 1;
        flex-direction: column;
    }
}

@media (max-width: 1280px) {
	.App {
		width: 100%;
	}
}