.file-protected {
    height: auto;
    width: 100%;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(20px);
    border-radius: 3px;
    padding: 150px 20px 20px;
    margin: 0;
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;

    & p,
    & form {
        width: 350px;
    }

    & form {
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        & .password {
            width: 100%;
        }
    }

    & .error {
        text-align: center;
        font-style: italic;
        font-size: 0.9em;
        color: #d8000c;
        background-color: #ffbabab9;
        padding: 10px;
        border-radius: 3px;
        animation: op-in 0.15s both;
    }
}

@keyframes op-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
