@use "preview/editor.module.scss";
@use "preview/video.module.scss";
@use "preview/image.module.scss";
@use "preview/audio.module.scss";
@use "preview/pdf.module.scss";
@use "preview/file-other.module.scss";

.App {
    height: 100%;
    width: 1280px;
    padding: 10px;
    color: #fff;
    overflow: auto;
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}

.file {
    position: relative;
    height: 100%;
    width: 100%;
    color: #fff;
    padding-right: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;

    & > .file-details {
        height: auto;
        width: 100%;
        background: rgba(0, 0, 0, 0.45);
        backdrop-filter: blur(20px);
        border-radius: 3px;
        padding: 20px;
        margin: 0;
        gap: 5px;
        display: flex;
        justify-content: space-between;

        & .details {
            font-size: 0.9em;
            gap: 5px;
            display: flex;
            align-items: center;
        }

        & .size {
            font-size: 0.8em;
            color: #3f88c5;
            display: flex;
            align-items: center;
        }
    }

    & > .preview-wrapper {
        max-width: 100%;
        height: auto;
        width: 100%;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width: 1280px) {
    .App {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .App {
        position: relative;
        width: 100%;
        flex-direction: column;

        & aside {
            position: absolute;
            z-index: 10;
            top: 0;
            left: -100%;
            width: 100%;
            min-width: 100%;
            background: rgba(0, 0, 0, 0.9);
        }

        & .wrapper {
            padding: 0;
        }

        & .file {
            padding: 0;
        }
    }
}
