.admin {
    height: 100%;
    width: 1280px;
    padding: 10px;
    background: rgba(16, 18, 27, 0.4);
    backdrop-filter: blur(40px);
    display: flex;

    & aside {
        height: 100%;
        width: 350px;
        min-width: 350px;
        max-width: 350px;
        background: rgba(0, 0, 0, 0.25);
        margin-right: 10px;
    }

    & .wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    & .logs {
        width: 100%;
        padding-right: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: auto;

        & .log {
            height: auto;
            width: 100%;
            color: #fff;
            margin-bottom: 10px;
            padding: 15px;
            border: 1px solid rgba(255, 255, 255, 0.25);
            border-radius: 3px;

            & > div {
                margin-bottom: 3px;
                display: flex;
                align-items: center;

                & > :first-child {
                    user-select: none;
                    min-width: 100px;
                    color: #fff;
                    background: #3f88c5;
                    padding: 5px;
                    margin-right: 10px;
                    border-radius: 3px;
                    display: flex;
                    justify-content: center;
                }

                & > :last-child {
                    height: auto;
                    letter-spacing: 0.05em;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                & > :last-child.success {
                    color: #00ff00;
                }

                & > :last-child.error {
                    color: red;
                }
            }
        }
    }
}

@media (max-width: 1280px) {
	.admin {
		width: 100%;
	}
}

@media (max-width: 800px) {
	.admin {
		position: relative;
		width: 100%;
		flex-direction: column;

		& aside {
			position: absolute;
            z-index: 10;
			top: 0;
			left: -100%;
			width: 100%;
			min-width: 100%;
			background: rgba(0, 0, 0, .90);
		}

		& .wrapper {
			padding: 0;
		}
	}
}