.filelist {
	height: calc(100% - 80px);
	width: 100%;
	overflow: auto;
	display: flex;
	align-items: center;
	/* justify-content: center; */
	flex-direction: column;
}

.filelist .file {
    user-select: none;
    cursor: pointer;
	height: 70px;
	width: 100%;
	list-style: none;
	margin-bottom: 10px;
	border: 1px solid #fff;
	border-radius: 3px;
	color: #fff;
    /* background: #fff; */
	backdrop-filter: blur(10px);
	padding: 10px;
	display: flex;
	align-items: center;
    transition: .05s;
}

.filelist .file:hover {
	box-shadow: #fff 0 0 5px 0px;
}

.filelist .file > a {
	height: 100%;
	width: 100%;
	color: #fff;
	border: none;
	display: flex;
}

.filelist .file > a:hover {
	border: none;
}

.filelist .icon-btn {
    cursor: pointer;
	height: 48px;
	width: 60px;
    font-size: 2em;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filelist .file .meta {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.filelist .file .meta .details {
	font-size: .8em;
	/* color: grey; */
	color: #dadce0;
	font-style: italic;
}