.filelist {
	width: 100%;
	padding: 20px;
	display: flex;
	align-items: center;
	flex: 1;
	/* justify-content: center; */
	flex-direction: column;
	overflow-x: auto;
}

.filelist::-webkit-scrollbar {
    width: 10px;
}

.filelist::-webkit-scrollbar-track {
    background: #105b97;
}

.filelist::-webkit-scrollbar-thumb {
    background: #3f88c5;
}

.filelist .file {
    user-select: none;
    cursor: pointer;
	height: 70px;
	width: 100%;
	list-style: none;
	margin-bottom: 10px;
	border-radius: 3px;
	color: #fff;
	background: rgba(255, 255, 255, 0.1);
	/* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
	backdrop-filter: blur(25px);
	border: 1px solid rgba(255, 255, 255, 0.25);
	padding: 10px;
	display: flex;
	align-items: center;
    transition: .05s;
}

.filelist .file:last-child {
	margin-bottom: 0;
}

.filelist .file:hover {
	/* box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.18); */
	border: 1px solid #fff;
	transform: scale(1.05);
}

.filelist .file > a {
	height: 100%;
	width: 100%;
	color: #fff;
	border: none;
	display: flex;
}

.filelist .file > a:hover {
	border: none;
}

.filelist .icon-btn {
    cursor: pointer;
	height: 48px;
	width: 60px;
    font-size: 2em;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filelist .file .meta {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.filelist .file .meta .details {
	font-size: .8em;
	/* color: grey; */
	color: #dadce0;
	font-style: italic;
}