* {
	outline: none;
	box-sizing: border-box;
}

html, body {
	height: 100vh;
	width: 100vw;
	font-size: 1em;
	font-family: 'Poppins', sans-serif;
	color: #111;
	background: url(../public/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	border: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
	color: #3F88C5;
	margin: 5px 0 10px;
	font-weight: 600;
	border-bottom: 3px solid #dadce0;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: #3f88c5;
	border-bottom: 1px solid transparent;
	text-decoration: none;
	transition: .15s;

	&:hover,
	&:focus {
		color: #105b97;
		border-bottom: 1px solid #105b97;
	}
}

button:not(.nostyle), .btn {
	user-select: none;
	cursor: pointer;
	height: fit-content;
	min-height: 30px;
	width: 195px;
	font-family: 'Poppins', sans-serif;
	color: #fff;
	padding: 5px 7px;
	background: #3f88c5;
	border: 1px solid #3f88c5;
	border-radius: 3px;
	transition: 0.15s;

	&:disabled {
		cursor: default;
		opacity: .5;
	}

	&:not(:disabled):hover {
		box-shadow: #105b97 0 0 3px 1px;
		background: #105b97;
		color: #fff;
	}
}

input:not(.nostyle) {
	color: #333;
	background: #fff;
	padding: 10px;
	border: 1px solid #dadce0;
	border-bottom: 3px solid #dadce0;
	transition: 0.15s;

	&:focus {
		border-bottom: 3px solid #3f88c5;
	}
}

#__next {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.App {
	height: 100%;
	width: 800px;
	padding: 10px;
	color: #fff;
	background: rgba(16 18 27 / 40%);
	backdrop-filter: blur(20px);
	overflow: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.loader {
	user-select: none;
	height: 100%;
	width: 100%;
	font-weight: 600;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	&.top {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}

	&.backdrop {
		backdrop-filter: blur(20px);
	}

	& > svg {
		margin: 0 !important;

		& > rect {
			fill: #fff;
		}
	}
}

@media (max-width: 800px) {
	.App {
		width: 100%;

		& .filelist {
			width: 100%;
		}
	}
}