* {
	outline: none;
	box-sizing: border-box;
}

html, body {
	height: 100vh;
	width: 100vw;
	font-size: 1em;
	font-family: 'Poppins', sans-serif;
	color: #111;
	/* background: repeating-linear-gradient(135deg, #c8c1c11a 0px, #c8c1c11a 2px, transparent 2px, transparent 4px), linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255)); */
	background: url(https://images.unsplash.com/photo-1507608158173-1dcec673a2e5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	border: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
	color: #3F88C5;
	margin: 5px 0 10px;
	font-weight: 600;
	border-bottom: 3px solid #dadce0;
}

ul, li {
	margin: 0;
	padding: 0;
}

a {
	color: #3f88c5;
	border-bottom: 1px solid transparent;
	text-decoration: none;
	transition: .15s;
}

a:hover, a:focus {
	color: #105b97;
	border-bottom: 1px solid #105b97;
}

button, label.btn {
	cursor: pointer;
	height: fit-content;
	min-height: 30px;
	width: 195px;
	font-family: 'Poppins', sans-serif;
	color: #fff;
	padding: 5px 7px;
	background: #3f88c5;
	border: 1px solid #3f88c5;
	border-radius: 3px;
	transition: 0.15s;
}

button:disabled {
	cursor: default;
	opacity: .5;
}

button:not(:disabled):hover {
	box-shadow: #105b97 0 0 3px 1px;
	background: #105b97;
}

#__next {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.App {
	height: 100%;
	width: 500px;
	padding: 10px;
}

.loader {
	height: 100%;
	width: 100%;
	color: #fff;
	/* background: #fff; */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.loader.top {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.loader.backdrop {
	backdrop-filter: blur(20px);
}

.loader > svg {
	margin: 0 !important;
}

.loader > svg > rect {
	fill: #fff;
}

@media (max-width: 1024px) {
	.App {
		width: 100%;
	}
	.App .filelist {
		width: 100%;
	}
}