* {
	outline: none;
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	width: 100vw;
	font-size: 1em;
	font-family: "Poppins", sans-serif;
	color: #111;
	background: url(../public/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	border: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #fff;
	margin: 5px 0 5px;
	font-weight: 600;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: #3f88c5;
	border-bottom: 1px solid transparent;
	text-decoration: none;
	transition: 0.15s;

	&:hover,
	&:focus {
		color: #3d7bab;
		border-bottom: 1px solid #3d7bab;
	}
}

hr {
	width: 100%;
}

::-webkit-scrollbar {
	height: 10px;
	width: 10px;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.35);
}

::-webkit-scrollbar-thumb {
	background: #3f88c5;
}

#__next {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.transition-class-in {
	position: relative;
	left: -30px;
	animation: transclassin 250ms both;
}

.transition-class-out {
	position: relative;
	left: 0;
	animation: transclassout 250ms both;
}

@media (max-width: 800px) {
	::-webkit-scrollbar {
		height: 3px;
		width: 3px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}
}

@keyframes transclassin {
	0% {
		left: -30px;
	}

	100% {
		left: 0;
	}
}

@keyframes transclassout {
	0% {
		left: 0;
	}

	100% {
		left: 30px;
	}
}
