.navbar {
	height: auto;
	width: 100%;
	margin-bottom: 10px;
	color: #fff;
	background: rgba(0, 0, 0, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(10px);
	border-radius: 3px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	padding: 8px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.filter {
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 10px;
}

.filter label {
	margin-bottom: 5px;
	font-size: 0.85em;
}