.button-controls {
    margin-bottom: 5px;
    min-width: 100%;
}

.menu-wrapper {
    z-index: 99;
    height: 100%;
    min-width: 350px;
    width: 350px;
    max-width: 350px;
    backdrop-filter: blur(20px) brightness(0.45);
    padding: 10px 15px;
    border-radius: 3px;
}

.menu {
    user-select: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.15s;

    & .group {
        width: 206px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    & .group.top {
        flex: 1;
    }

    & .avatar {
        background: rgba(255, 255, 255, 0.05);
        padding: 8px;
        margin: 15px 0;
        border-radius: 50%;
        display: flex;

        & img {
            height: 180px;
            width: 180px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    & h2 {
        color: #fff;
        margin-bottom: 25px;
    }

    & .item {
        cursor: pointer;
        width: 100%;
        margin-bottom: 7.5px;

        & > * {
            width: 100%;
            text-align: left;
            color: #fff;
            padding: 10px;
            border-bottom: 2px solid transparent;
            display: flex;
            align-items: center;
            transition: background 0.15s, border 0.15s;

            & > svg {
                margin-right: 10px;
                font-size: 1.75em;
            }
        }

        & > *:hover {
            background: rgba(0, 0, 0, 0.25);
            border-bottom: 2px solid #dadce0;
        }

        & > *.red:hover {
            background: rgba(255, 0, 0, 0.25);
        }

        & > *.blue:hover {
            background: rgb(63, 136, 197, 0.25);
        }
    }
}

@media (max-width: 800px) {
    .menu-wrapper {
        max-width: 100%;
        width: 100%;
        min-width: 100%;

        &.menu-open {
            opacity: 0;
            animation: popIn 0.25s both;
        }

        &.menu-closed {
            animation: popOut 0.25s both;
        }

        & .menu {
            height: calc(100% - 30px);
        }
    }
}

@keyframes popIn {
    0% {
        left: -100%;
        opacity: 0;
    }

    100% {
        left: 0%;
        opacity: 1;
    }
}

@keyframes popOut {
    0% {
        left: 0%;
        opacity: 1;
    }

    100% {
        left: -100%;
        opacity: 0;
    }
}
