.upload {
    height: 100%;
    width: 1280px;
    color: #fff;
    background: rgba(16, 18, 27, 0.4);
    backdrop-filter: blur(40px);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    & aside {
        height: 100%;
        width: 350px;
        min-width: 350px;
        max-width: 350px;
        background: rgba(0, 0, 0, 0.25);
        margin-right: 10px;
    }

    & .wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    & .no-file {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }

    & .upload-list {
        width: 100%;
        margin: 0 10px 10px;
        padding-right: 10px;
        flex: 1;
        overflow: auto;

        & .file-upload {
            width: 100%;
            margin-bottom: 10px;
            border-radius: 3px;
            color: #fff;
            // background: rgba(255, 255, 255, 0.1);
            // backdrop-filter: blur(25px);
            border: 1px solid rgba(255, 255, 255, 0.25);
            padding: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            & .name {
                margin-bottom: 5px;
            }

            & .name,
            & .password {
                display: flex;
                align-items: center;

                & label {
                    font-size: .9em;
                    display: block;
                    width: 175px;
                }

                & input {
                    color: #fff;
                    background: transparent;
                    padding: 5px;
                    flex: 1;
                    background: rgba(0, 0, 0, .25);
                    border: 1px solid rgba(255, 255, 255, .25);
                    border-bottom: 3px solid rgba(255, 255, 255, .25);
                }
            }

            & .progression {
                user-select: none;
                position: relative;
            }

            & .progression .progression-bar {
                height: 25px;
                margin-bottom: 5px;
                background: #fff;
                border-radius: 0 0 3px 3px;
                border-top: 1px solid #dadce0;
            }

            & .progression .progression-bar .progress {
                transition: .15s;
            }

            & .progression .div-center {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                height: 100%;
                color: black;
                font-size: .9em;
                display: flex;
                align-items: center;
                justify-content: center;
                white-space: pre;
                font-size: .8em;
            }
        }
    }

    & .controls {
        width: 100%;
        color: #fff;
        background: rgba(0, 0, 0, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        border-radius: 3px;
        padding: 8px 15px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        & .input-upload {
            display: none;
        }
    }
}