.upload {
    & .input-container {
        width: 100%;
        margin-bottom: 10px;
        color: #fff;
        text-align: center;
        background: rgba(0, 0, 0, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(10px);
        border-radius: 3px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        padding: 8px 15px;
    
        & input {
            width: 100%;
        }
    }
    
    & .upload-list {
        width: 100%;
        flex: 1;
        overflow: auto;

        & .file-upload {
            width: 100%;
            margin-bottom: 15px;
            border-radius: 3px;
            color: #fff;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(25px);
            border: 1px solid rgba(255, 255, 255, 0.25);
            padding: 10px;

            // & .name {
            //     margin-bottom: 10px;
            // }

            & label {
                font-size: .9em;
                display: block;
                margin-bottom: 5px;
            }

            & .name {
                margin-bottom: 15px;
            }
            
            & .password .input-password {
                border-radius: 3px 3px 0 0;
            }

            & .progression {
                user-select: none;
                position: relative;
            }

            & .progression .progression-bar {
                height: 25px;
                margin-bottom: 5px;
                background: #fff;
                border-radius: 0 0 3px 3px;
                border-top: 1px solid #dadce0;
            }

            & .progression .progression-bar .progress {
                transition: .15s;
            }

            & .progression .div-center {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                height: 100%;
                color: black;
                font-size: .9em;
                display: flex;
                align-items: center;
                justify-content: center;
                white-space: pre;
                font-size: .8em;
            }
        }
    }

    & .controls {
        width: 100%;
        color: #fff;
        background: rgba(0, 0, 0, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(10px);
        border-radius: 3px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        padding: 8px 15px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        & .input-upload {
            display: none;
        }
    }
}