.uploader {
    height: fit-content;
    width: fit-content;
}

.uploader .icon-btn {
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    font-size: 2.5em;
    display: flex;
}

.uploader input {
	display: none;
}

.uploader label {
	width: fit-content;
	height: fit-content;
}