$primary-main-color: #3f88c5;
$secondary-main-color: #105b97;

$danger-color: rgba(255, 0, 0, 0.35);
$success-color: rgba(0, 128, 0, 0.35);
$infos-color: $primary-color;

$primary-text-color: #fff;
$secondary-text-color: #969696;
$background-color: rgba(0, 0, 0, 0.35);

$blur-px: 20px;
